body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.gray-color{
    font-size: 20px;
    color: gray;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-top: 3%;
    margin: auto;
}
.button{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    color: white;
    font-size: 700;
    padding: 10px 20px;
    border-radius: 25px;
}
.half-width img{
    width: 80%;
}